{% import '_macros.text.jinja2' as macros %}

{{- macros.secure_revision_info(revision) }}

{{ actor_name }} abandoned this revision {{- event | secure_comment_summary }}.

{{- macros.footer(actor_name) }}
