{% import '_macros.text.jinja2' as macros %}

{{- macros.secure_revision_info(revision) }}

{{ actor_name }} added you as a reviewer.
{{- macros.reviewer_action(reviewer, revision) }}

{{- macros.reviewers_with_changes(event.reviewers) }}
{{- macros.secure_metadata_changes(event.is_title_changed, event.is_bug_changed, revision) }}
{{- macros.footer(actor_name) }}
