{% import '_macros.text.jinja2' as macros %}

{{- macros.secure_revision_info(revision) }}

{{ actor_name }} requested a review {{- event | secure_comment_summary }}.

{{- macros.reviewers_status(event.reviewers) }}
{{- macros.footer(recipient_username) }}
