{% import '_macros.html.jinja2' as macros %}
{{ macros.head() }}
<div class="event-content">

    {% call macros.preview(reviewer.is_actionable, unique_number) %}
        {{ emoji("memo") | safe }} {{ actor_name }} added you as a reviewer.
    {% endcall %}

    {{ macros.title(revision) }}

    <div class="summary">
        <span class="emoji">{{ emoji("memo") | safe }}</span>
        <span class="text"><span><span class="actor">{{ actor_name }}</span> added you as a reviewer</span></span>
        {{ macros.reviewer_action(reviewer, revision) }}
    </div>

    {{ macros.reviewers_with_changes(event.reviewers) }}

    {% if event.is_title_changed or event.is_bug_changed %}
        {{ macros.metadata_changes(event.is_title_changed, event.is_bug_changed, revision) }}
    {% endif %}

    {{ macros.footer(actor_name, unique_number) }}
</div>
