{% import '_macros.html.jinja2' as macros %}
{{ macros.head() }}
<div class="event-content">

    {% call macros.preview(unique_number) %}
        {{ emoji("airplane_arrival") | safe }} Revision has landed.
    {% endcall %}

    {{ macros.title(revision) }}

    <div class="summary">
        <span class="emoji">{{ emoji("airplane_arrival") | safe }}</span>
        <span class="text">Revision has landed as <span class="revision">{{ event.revision_hash }}</span></span>
    </div>

    <div class="revision-landed-link-group">
        {% if event.hg_link %}
            <div><a href="{{ event.hg_link }}">View in HG</a></div>
        {% endif %}
        {% if event.lando_link %}
            <div><a href="{{ event.lando_link }}">View in Lando</a></div>
        {% endif %}
    </div>

    {{ macros.footer(recipient_username, unique_number) }}
</div>
