{% import '_macros.html.jinja2' as macros %}
{{ macros.head() }}
<div class="event-content">

    {% call macros.preview(unique_number) %}
        {{ emoji("wrench") | safe }} {{ actor_name }} requested changes {{- event | comment_summary }}.
    {% endcall %}

    {{ macros.title(revision) }}

    <div class="summary">
        <span class="emoji">{{ emoji("wrench") | safe }}</span>
        <span class="text"><span><span
                class="actor">{{ actor_name }}</span> requested changes {{- event | comment_summary }}</span></span>
        <a href="{{ event.transaction_link }}" class="actionable">{{ emoji("gear") | safe }} You need to resolve their comments</a>
    </div>

    {% if event is commented_on %}
        {{ macros.comments_link(event.transaction_link) }}
    {% endif %}

    {% if event.main_comment_message %}
        {{ macros.main_comment(event.main_comment_message) }}
    {% endif %}

    {% for comment in event.inline_comments %}
        {{ macros.inline_comment(comment, recipient_timezone) }}
    {% endfor %}

    {{ macros.footer(recipient_username, unique_number) }}
</div>
