{% import '_macros.text.jinja2' as macros %}

{{- macros.revision_info(revision) }}

{{ actor_name }} created this revision.
{{- macros.reviewer_action(reviewer, revision) }}

{{- macros.reviewers_status(event.reviewers) }}
{{- macros.affected_files(event.affected_files) }}
{{- macros.footer(recipient_username) }}
