{% import '_macros.html.jinja2' as macros %}
{{ macros.head() }}
<div class="event-content">

    {% call macros.preview(False, unique_number) %}
        {{ emoji("keyboard") | safe }} {{ actor_name }} created this revision.
    {% endcall %}

    {{ macros.secure_title(revision) }}

    <div class="summary">
        <span class="emoji">{{ emoji("keyboard") | safe }}</span>
        <span class="text"><span><span class="actor">{{ actor_name }}</span> created this revision</span></span>
    </div>

    {{ macros.reviewers_status(event.reviewers) }}
    {{ macros.footer(recipient_username, unique_number) }}
</div>
