{% import '_macros.html.jinja2' as macros %}
{{ macros.head() }}
<div class="event-content">

    {% call macros.preview(true, unique_number) %}
        {{ emoji("speech_balloon") | safe }} {{ actor_name }} mentioned you.
    {% endcall %}

    {{ macros.secure_title(revision) }}

    <div class="summary">
        <span class="emoji">{{ emoji("speech_balloon") | safe }}</span>
        <span class="text"><span><span class="actor">{{ actor_name }}</span> mentioned you</span></span>
        <a href="{{ event.transaction_link }}" class="actionable">{{ emoji("reply") | safe }} View comments and respond on
            Phabricator</a>
    </div>

    <div class="event-link">
        <a href="{{ event.transaction_link }}">View comments</a>
    </div>

    {{ macros.footer(unique_number) }}
</div>
