{% import '_macros.html.jinja2' as macros %}
{{ macros.head() }}
<div class="event-content">

    {% call macros.preview(false, unique_number) %}
        {{ emoji("memo") | safe }} {{ actor_name }}removed you as a reviewer.
    {% endcall %}

    {{ macros.secure_title(revision) }}

    <div class="summary">
        <span class="emoji">{{ emoji("memo") | safe }}</span>
        <span class="text"><span><span class="actor">{{ actor_name }}</span> removed you as a reviewer</span></span>
    </div>
    {{ macros.reviewers_with_changes(event.reviewers) }}

    {% if event.is_title_changed or event.is_bug_changed %}
        {{ macros.secure_metadata_changes(event.is_title_changed, event.is_bug_changed, revision) }}
    {% endif %}

    {{ macros.footer(actor_name, unique_number) }}
</div>
