{% import '_macros.html.jinja2' as macros %}
{{ macros.head() }}
<div class="event-content">

    {% call macros.preview(unique_number) %}
        {{ emoji("circle_arrows") | safe }} {{ actor_name }} requested a review {{- event | secure_comment_summary }}.
    {% endcall %}

    {{ macros.secure_title(revision) }}

    <div class="summary">
        <span class="emoji">{{ emoji("circle_arrows") | safe }}</span>
        <span class="text"><span><span
                class="actor">{{ actor_name }}</span> requested a review {{- event | secure_comment_summary }}</span></span>
    </div>

    {% if event is commented_on_secure %}
        {{ macros.comments_link(event.transaction_link) }}
    {% endif %}

    {{ macros.reviewers_status(event.reviewers) }}

    {{ macros.footer(recipient_username, unique_number) }}
</div>
